@use 'func' as f;

$bg: #020101;
$level1: #361303;
$secondary: #db4a01;

$-colors: (
    'white': #ffffff,
    'black': #000000,
    'slate': (
        '50':  #f8fafc,
        '100': #f1f5f9,
        '200': #e2e8f0,
        '300': #cbd5e1,
        '400': #94a3b8,
        '500': #64748b,
        '600': #475569,
        '700': #334155,
        '800': #1e293b,
        '900': #0f172a,
        '950': #020617,
    ),
    'gray': (
        '50':  #f9fafb,
        '100': #f3f4f6,
        '200': #e5e7eb,
        '300': #d1d5db,
        '400': #9ca3af,
        '500': #6b7280,
        '600': #4b5563,
        '700': #374151,
        '800': #1f2937,
        '900': #111827,
        '950': #030712,
    ),
    'zinc': (
        '50':  #fafafa,
        '100': #f4f4f5,
        '200': #e4e4e7,
        '300': #d4d4d8,
        '400': #a1a1aa,
        '500': #71717a,
        '600': #52525b,
        '700': #3f3f46,
        '800': #27272a,
        '900': #18181b,
        '950': #09090b,
    ),
    'red': (
        '50':  #fef2f2,
        '100': #fee2e2,
        '200': #fecaca,
        '300': #fca5a5,
        '400': #f87171,
        '500': #ef4444,
        '600': #dc2626,
        '700': #b91c1c,
        '800': #991b1b,
        '900': #7f1d1d,
        '950': #450a0a,
    ),
    'green': (
        '50':  #f0fdf4,
        '100': #dcfce7,
        '200': #bbf7d0,
        '300': #86efac,
        '400': #4ade80,
        '500': #22c55e,
        '600': #16a34a,
        '700': #15803d,
        '800': #166534,
        '900': #14532d,
        '950': #052e16,
    ),
    'blue': (
        '50':  #eff6ff,
        '100': #dbeafe,
        '200': #bfdbfe,
        '300': #93c5fd,
        '400': #60a5fa,
        '500': #3b82f6,
        '600': #2563eb,
        '700': #1d4ed8,
        '800': #1e40af,
        '900': #1e3a8a,
        '950': #172554,
    ),
);

/// Gets the theme color as a css variable
/// @param $format - Format, one of 'hex', 'hsl'
/// @param $color - Color name
@function get($color-path, $format: 'hsl') {
    $color-value: f.get-nested($-colors, $color-path);

    @if not $color-value {
        @error 'Color `#{$color-path}` not found';
    }

    @if $format == 'hex'  {
        @return $color-value;
    } @else {
        @return f.to-hsl($color-value);
    }
}
