@use 'func' as f;

$bg: #020101;
$level1: #361303;
$secondary: #db4a01;

$-colors: (
    'brand': $secondary,
);

/// Gets the theme color as a css variable
/// @param $format - Format, one of 'hex', 'hsl'
/// @param $color - Color name
@function get($color-path, $format: 'hsl') {
    $color-value: f.get-nested($-colors, $color-path);

    @if not $color-value {
        @error 'Color `#{$color-path}` not found';
    }

    @if $format == 'hex'  {
        @return $color-value;
    } @else {
        @return f.to-hsl($color-value);
    }
}
